<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:theme="@style/Theme.MyApplication">


        <activity
            android:name=".Orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SampleJava"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Sample"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cdt_Drawing"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Speech_to_text"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Test"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Naming"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".combined_btn_repatingdigit"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Abstraction"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gaming"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Log_In"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Language_repeatSentence"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Letter_Identification"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Attention"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SubtractionMain"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Register"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Attentation_repeatingDigit"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ExpandedHistory"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".History"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>